*{outline: none}
body{
  background: url("../../assets/images/account/bg.png") no-repeat top center;
}
button{border: 0;cursor: pointer}
.fl{float: left}
.fr{float: right}
.w50{width: 50%}
.w25{width: 25%}
.clearfix{overflow:hidden;_zoom:1;}



.container{width: 1400px;margin: 0 auto}
.container>h2{font-size: 35px;color: #262626}
.container>h3{font-size: 24px;font-weight: 400;color: #595959}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
