.union{height: 520px}
.union>.container>.w50{display: inline-block;vertical-align: middle;margin-top: 20px}
.union>.container>div>p{width: 560px;margin: 0 auto;line-height: 2;color: #7b88a9;font-size: 18px;text-align: left;text-indent: 2em}